{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{project_plugins, [rebar_gleam]}.

{deps, [
    gleam_stdlib,
    {gleam_http, {git, "https://github.com/gleam-lang/http", {branch, "master"}}},
    {gleam_otp_process, {git, "https://github.com/gleam-experiments/otp_process", {branch, "master"}}},
    elli
]}.
